/* ==========================================================================
   Contrast skin 2e3131    mix(#fff, $text-color, 75%)
   ========================================================================== */

/* Colors */
$background-color: #21252A !default; //background color
$text-color: #FFFFFF !default; //overall text color
$muted-text-color: #6c7a89 !default; //color after mouse hovers
$primary-color: #0C4C8A !default; //underline
$border-color: #0C4C8A !default;
$footer-background-color: #0C4C8A !default; //footer color
$link-color: #0000ff !default; //
$masthead-link-color: #BDBDBD !default; //header link color
$masthead-link-color-hover: #FFFFFF !default; //header link hover
$navicon-link-color-hover: mix(#fff, $text-color, 100%) !default; //threebar navicon color

/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
