---
layout: archive
---

{{ content }}
<img src="/images/a2.jpg">
    <h3>
      <p>  Hi, I'm Vineet! I'm currently a first year student at the University of Michigan - Ann Arbor, studying Computer Science and Cognitive Science. I'm from Princeton, New Jersey and when I have some free time I enjoy coding, learning new things, and eating good food. <br>Thanks for checking out my website!</p>
    </h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
